<label>Server Name</label>

<!-- 1 way binding -->
<!-- <input 
    type="text" 
    class="form-control" 
    (input)="onUpdateServerName($event)"> -->

<input 
    type="text"
    class="form-control"
    [(ngModel)]="serverName">
<!-- <p>{{serverName}}</p> -->

<button 
    class="btn btn-primary" 
    [disabled]="!allowNewServer"
    (click)="onCreateServer()">Add Server</button>
<p *ngIf="serverCreated; else noServer">Server was created, server name is {{serverName}}</p>
<ng-template #noServer>
    <p>No server was created!</p>
</ng-template>

<!-- <p>{{serverCreationStatus}}</p>
<p [innerText]="allowNewServer"></p>-->
<app-server *ngFor="let server of servers"></app-server>

<!-- <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ol>
          <li>Add a Input field which updates a property ('username') via Two-Way-Binding</li>
          <li>Output the username property via String Interpolation (in a paragraph below the input)</li>
          <li>Add a button which may only be clicked if the username is NOT an empty string</li>
          <li>Upon clicking the button, the username should be reset to an empty string</li>
        </ol>
        <hr>
        <label>UserName</label>
        <input type="text" class="form-control" [(ngModel)]="userName">
        <p>{{userName}}</p>
        <button 
        class="btn btn-primary" 
        [disabled]="userName === ''"
        (click)="userName = ''">Reset User</button>
      </div>  
    </div>
  </div> -->
